.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(255, 255, 255);
    opacity: .8;
}

.create-modal-show {
    display: block;
    z-index: 99999;
}