form {
    width: 500px;
}
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid black;
}
.alert {
    width: 500px;
}
.alert-success-container {
    display: flex;
    align-items: center;
    justify-content: center;
}